<div class="info">
  <div class="row">
    <div class="col-sm-4">
        <h2>5 cr</h2>
        <p class="info-par"><span>UNITS OF BLOOD IS NEEDED</span><span>IN INDIA EVERY YEAR</span></p>
    </div>
    <div class="col-sm-4">
        <h2>38 k+</h2>
        <p class="info-par"><span>BLOOD DONATIONS ARE</span><span>REQUIRED/DAY</span></p>
    </div>
    <div class="col-sm-4 ">
        <h2>300 ml</h2>
        <p class="info-par"><span>OF BLOOD CAN SAVE</span><span>3 LIVES</span></p>
    </div>
  </div>
</div>