<div>
    <div class="card">
      <div class="card-header">
        <h4>Admins</h4>
      </div>
      <div class="card-body">
        <div class="row pb-2">
          <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0" *ngFor="let l of ele,let i=index" style="    margin-bottom: 50px!important;">
            <div class="avatar-item mb-0" >
              <img alt="image" src="../../assets/image/avatar/avatar-{{i+1}}.png" class="img-fluid" data-toggle="tooltip" title="{{l.adminUsername}}">
              <div class="avatar-badge" title="Editor" data-toggle="tooltip"><i class="fas fa-wrench"></i></div>
            </div>
          </div>
          <!-- <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0">
            <div class="avatar-item mb-0">
              <img alt="image" src="../../assets/image/avatar/avatar-4.png" class="img-fluid" data-toggle="tooltip" title="Egi Ferdian">
              <div class="avatar-badge" title="Admin" data-toggle="tooltip"><i class="fas fa-cog"></i></div>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0">
            <div class="avatar-item mb-0">
              <img alt="image" src="../../assets/image/avatar/avatar-1.png" class="img-fluid" data-toggle="tooltip" title="Jaka Ramadhan">
              <div class="avatar-badge" title="Author" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></div>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0">
            <div class="avatar-item mb-0">
              <img alt="image" src="../../assets/image/avatar/avatar-2.png" class="img-fluid" data-toggle="tooltip" title="Ryan">
              <div class="avatar-badge" title="Admin" data-toggle="tooltip"><i class="fas fa-cog"></i></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    
  </div>